@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts.css";

@layer components {
  .container {
    @apply px-24 my-4 w-full;
  }

  .dashboard-card {
    @apply px-4 py-4 bg-white rounded-lg;
  }

  .colored-box {
    @apply px-4 py-2 bg-gray-200 rounded-lg;
  }

  .primary-btn {
    @apply px-8 py-3 bg-black text-white font-bold rounded-lg;
  }

  .info-card {
    background-color: white;
    width: 100%;
    @apply px-8 py-4 rounded-lg;
  }

  .uppercased {
    letter-spacing: 1.8px;
    font-size: 15px;
    @apply uppercase text-sm font-medium;
  }
}
.grid-center {
  display: grid;
  place-items: center;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Outfit", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f9f9f9;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
