@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts.css";

@layer components {
  .container {
    @apply px-24 my-4 w-full;
  }

  .colored-box {
    @apply px-4 py-2 bg-gray-200 rounded-lg;
  }

  .primary-btn {
    @apply px-8 py-3 bg-black text-white font-bold rounded-lg;
  }

  .uppercased {
    letter-spacing: 2px;
    font-size: 15px;
    @apply uppercase text-sm;
  }
}

.grid-area {
  display: grid;
  grid-template-areas:
    "area-1 area-1 area-2"
    "area-3 area-3 area-4"
    "area-5 area-5 area-6";
}

.info-card {
  background-color: white;
  width: 100%;
}

.area-1 {
  width: 100%;

  grid-area: area-1;
  margin-bottom: 20px;
}
.area-2 {
  grid-area: area-2;
}
.area-3 {
  grid-area: area-3;
  margin-bottom: 20px;
}
.area-4 {
  grid-area: area-4;
}
.area-5 {
  grid-area: area-5;
  margin-bottom: 20px;
}
.area-6 {
  grid-area: area-6;
}

body {
  margin: 0;
  font-family: "Outfit", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f9f9f9;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
